
.calculator{
    margin-top: 100px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rows{
    width: 500px;
    height: 100px;
    display: flex;
    /* border: 2px solid red; */
}
.output{
    width: 496px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid red; */
}
.key-button{
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 2px solid red; */
}
.double{
    width: 246px;
}
.triple{
    width: 370px;
}
.operation{
    background-color: #DF974C;
    color: white;
}